body {
    background: #000000;
    animation: dayToNight 10s infinite 1.5s;
}
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    display: block;
  }
  
  .sun {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    background-color: #c7392d;
    border: 10px solid #c23c30;
    
  }
  
  div {
    width: 170px;
    height: 190px;
    border-radius: 100%;
    background-color: #fff;
    box-shadow:
      0 0 30px 30px #fff,  /* inner white */
      0 0 100px 60px #f1f9be, /* yellow */
      0 0 140px 90px #b74133; /* orangered */
  }
  
  .shadow {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    background-color: #000000;
    top: -5px;
    left: 0px;
    animation: moveshadow 10s infinite 1.5s;
  }
  
  
  /* Keyframes */
  
  @keyframes moveshadow {
    0% {
      transform: translateX(150px);
      background-color: #dadada;
    }
    50% {
      transform: translateX(-10px);
      background-color: #000000;
    }
    100% {
      transform: translateX(-170px);
      background-color: #dadada;
    }
  }

  @keyframes dayToNight {
    0% {
      background-color: #ffffff;
    }
    50% {
      background-color: #000000;
    }
    100% {
      background-color: #ffffff;
    }
  }